# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Streamlit
.streamlit/

# Models / Cache
.cache/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Reports
reports/*.pdf

# Temporary files
*.tmp